{
  "extends": ["plugin:jsx-a11y/recommended", "node"],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "import/no-commonjs": 0,
    "import/no-nodejs-modules": ["error", {"allow": ["fs", "child_process"]}],
    "new-cap": [2, { "capIsNewExceptions": ["List", "Map", "Set"] }],
    "import/no-named-as-default": 2,
    "comma-dangle": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": "off",
    "no-alert": 0,
    "semi": ["error", "always"],
    "no-extra-semi": "error",
    "linebreak-style": "off",
    "quotes": ["error", "single"],  
    "curly": ["error", "multi-line", "consistent"],
    "jsx-quotes": "off",
    "no-param-reassign": "warn"
  }
}